/* From Uiverse.io by xerith_8140 */
/* Notification container */
.notificationContainer {
	/* Position top left */
	/* position: fixed;
      top: 2%;
      left: 2%;
      z-index: 1000;
      max-width: 80%; */

	--contentColor: black;
	--backgroundColor: #f3f3f3;
	--fontSizeContent: 1em;
	--iconSize: 1em;

	max-width: 400px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	list-style-type: none;
	font-family: sans-serif;
	color: var(--contentColor);
}

/* Notification Item */
.notificationItem {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	gap: 1em;
	overflow: hidden;
	padding: 12px 17px;
	border-radius: 6px;
	box-shadow: rgba(111, 111, 111, 0.2) 0px 8px 24px;
	background-color: var(--backgroundColor);
	transition: all 250ms ease;

	/* Background Pattern */
	--gridColor: rgba(225, 225, 225, 0.7);
	background-image: linear-gradient(
			0deg,
			transparent 23%,
			var(--gridColor) 24%,
			var(--gridColor) 25%,
			transparent 26%,
			transparent 73%,
			var(--gridColor) 74%,
			var(--gridColor) 75%,
			transparent 76%,
			transparent
		),
		linear-gradient(
			90deg,
			transparent 23%,
			var(--gridColor) 24%,
			var(--gridColor) 25%,
			transparent 26%,
			transparent 73%,
			var(--gridColor) 74%,
			var(--gridColor) 75%,
			transparent 76%,
			transparent
		);
	background-size: 55px 55px;
}

.notificationItem svg {
	transition: 250ms ease;
}

.notificationItem:hover {
	transform: scale(1.01);
}

.notificationItem:active {
	transform: scale(1.05);
}

.notificationItem .notificationClose:hover {
	background-color: rgba(204, 204, 204, 0.45);
}

.notificationItem .notificationClose:hover svg {
	color: rgb(0, 0, 0);
}

.notificationItem .notificationClose:active svg {
	transform: scale(1.1);
}

/* Notification Icons */
.notificationItem .notificationClose {
	padding: 2px;
	border-radius: 5px;
	transition: all 250ms;
}

.notificationContainer svg {
	width: var(--iconSize);
	height: var(--iconSize);
	color: var(--contentColor);
}

.notificationIcon {
	display: flex;
	align-items: center;
}

/* Success */
.success {
	color: #047857;
	background-color: #7dffbc;
	--gridColor: rgba(16, 185, 129, 0.25);
	background-image: linear-gradient(
			0deg,
			transparent 23%,
			var(--gridColor) 24%,
			var(--gridColor) 25%,
			transparent 26%,
			transparent 73%,
			var(--gridColor) 74%,
			var(--gridColor) 75%,
			transparent 76%,
			transparent
		),
		linear-gradient(
			90deg,
			transparent 23%,
			var(--gridColor) 24%,
			var(--gridColor) 25%,
			transparent 26%,
			transparent 73%,
			var(--gridColor) 74%,
			var(--gridColor) 75%,
			transparent 76%,
			transparent
		);
}

.success svg {
	color: #047857;
}

.success .notificationProgressBar {
	background-color: #047857;
}

.success:hover {
	background-color: #5bffaa;
}

/* Info */
.info {
	color: #1e3a8a;
	background-color: #7eb8ff;
	--gridColor: rgba(59, 131, 246, 0.25);
	background-image: linear-gradient(
			0deg,
			transparent 23%,
			var(--gridColor) 24%,
			var(--gridColor) 25%,
			transparent 26%,
			transparent 73%,
			var(--gridColor) 74%,
			var(--gridColor) 75%,
			transparent 76%,
			transparent
		),
		linear-gradient(
			90deg,
			transparent 23%,
			var(--gridColor) 24%,
			var(--gridColor) 25%,
			transparent 26%,
			transparent 73%,
			var(--gridColor) 74%,
			var(--gridColor) 75%,
			transparent 76%,
			transparent
		);
}

.info svg {
	color: #1e3a8a;
}

.info .notificationProgressBar {
	background-color: #1e3a8a;
}

.info:hover {
	background-color: #5ba5ff;
}

/* Warning */
.warning {
	color: #78350f;
	background-color: #ffe57e;
	--gridColor: rgba(245, 159, 11, 0.25);
	background-image: linear-gradient(
			0deg,
			transparent 23%,
			var(--gridColor) 24%,
			var(--gridColor) 25%,
			transparent 26%,
			transparent 73%,
			var(--gridColor) 74%,
			var(--gridColor) 75%,
			transparent 76%,
			transparent
		),
		linear-gradient(
			90deg,
			transparent 23%,
			var(--gridColor) 24%,
			var(--gridColor) 25%,
			transparent 26%,
			transparent 73%,
			var(--gridColor) 74%,
			var(--gridColor) 75%,
			transparent 76%,
			transparent
		);
}

.warning svg {
	color: #78350f;
}

.warning .notificationProgressBar {
	background-color: #78350f;
}

.warning:hover {
	background-color: #ffde59;
}

/* Error */
.error {
	color: #7f1d1d;
	background-color: #ff7e7e;
	--gridColor: rgba(239, 68, 68, 0.25);
	background-image: linear-gradient(
			0deg,
			transparent 23%,
			var(--gridColor) 24%,
			var(--gridColor) 25%,
			transparent 26%,
			transparent 73%,
			var(--gridColor) 74%,
			var(--gridColor) 75%,
			transparent 76%,
			transparent
		),
		linear-gradient(
			90deg,
			transparent 23%,
			var(--gridColor) 24%,
			var(--gridColor) 25%,
			transparent 26%,
			transparent 73%,
			var(--gridColor) 74%,
			var(--gridColor) 75%,
			transparent 76%,
			transparent
		);
}

.error svg {
	color: #7f1d1d;
}

.error .notificationProgressBar {
	background-color: #7f1d1d;
}

.error:hover {
	background-color: #ff5f5f;
}

/* Notification content */
.notificationContent {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5em;
}

.notificationText {
	font-size: var(--fontSizeContent);
	user-select: none;
}

.notificationClose {
	cursor: pointer;
}

/* Notification progress bar */
.notificationProgressBar {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1px;
	background: var(--contentColor);
	width: 100%;
	transform: translateX(100%);

	/* Remove the infinite property for your website */
	animation: progressBar 5s linear forwards infinite;
}

/* progressBar Animation */
@keyframes progressBar {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-100%);
	}
}
