.AuthRegistr {
	display: flex;
	position: relative;
}

.auth {
	width: 960px;
	box-shadow: 1px 1px 39px 14px #f5e6ba;
	background: #fffcf3;
	padding-top: 25px;
	position: relative;
}

.homePage {
	padding: 8px 18px;
	border-radius: 63px;
	background-color: #f4c228;
	line-height: 26px;
	max-width: 220px;
	/* margin-left: auto;
	margin-right: 40px; */
	margin: 0 40px 0 auto;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
	z-index: 1;
	position: relative;
}

.homePage a {
	font-size: 20px;
	font-weight: 300;
	color: #f3fbff;
}

.authMain {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 202px;
	padding-bottom: 314px;
}

.loginText {
	font-size: 50px;
	font-weight: 500;
	color: #231b02;
	text-align: center;
	margin-bottom: 55px;
	cursor: pointer;
}

.loginText span {
	color: #8c8a83;
}

.inputs {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	row-gap: 25px;
	max-width: 442px;
	width: 100%;
	margin-bottom: 17px;
}

.inputs input {
	padding: 16px 23px;
	border-radius: 11px;
	border: 1px solid #000;
	font-size: 20px;
	font-weight: 500;
	color: #8c8a83;
	max-width: 442px;
	width: 100%;
}

.password {
	position: relative; /* Добавлено для правильного позиционирования иконок */
}

.password input {
	width: 100%; /* Убедитесь, что поле ввода занимает всю ширину */
}

.password img {
	position: absolute; /* Используйте absolute для позиционирования иконок */
	cursor: pointer;
	right: 10px; /* Позиционируйте иконку справа */
	top: 50%;
	transform: translateY(-50%);
}

.links {
	display: flex;
	flex-direction: column;
	justify-content: start;
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
	row-gap: 4px;
	margin-bottom: 45px;
}

.links a {
	font-size: 18px;
	font-weight: 500;
	color: #2b2102;
}

.login {
	max-width: 295px;
	width: 100%;
	margin: 0 auto;
	padding: 13px 95px;
	background-color: #f4c228;
	border-radius: 63px;
	font-size: 24px;
	border: none;
	cursor: pointer;
}

.authLink {
	display: flex;
	max-width: 210px;
	width: 100%;
	margin: 0 auto;
	justify-content: space-between;
	margin-top: 22px;
}

.mirrorCircle {
	transform: scaleX(-1);
}

.ellipseBottom {
	position: absolute;
	bottom: 0;
	z-index: 0;
}

.minionPng {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 0;
}

.ellipseTop {
	position: absolute;
	top: 0;
	z-index: 0;
	max-width: 960px;
}

.ellipseTop img {
	width: 100%;
}
